{{#each foo}} {{this}} {{/each}}

<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 77%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<div class="card mb-4 mr-4 ml-">
  <div class="card-body">

    <form id="search_member" action="" method="">

      <label> Search Congress Members by name starting with: </label>
      <input type="text" name="name_search_string" id="name_search_string" value="">
      <input type="button" value="Search" onclick="searchMemberByName()">

    </form>
  </div>
</div>

<div class="card mb-4 mt-4 mr-4 ml-4">
  <div class="card-body">
    <table>
      <thead>
        <th>Name</th>

      </thead>
      <h3>Member of Congress:</h3>
      <tbody id="congress-table">
        {{#each congressMembers}}
        <tr id="congress-{{id}}">
          <td>{{name}}</td>
          <td>
            <button onclick="deleteMember(this, {{id}})">Delete</button>
          </td>
          <td>
            <a href="/congress/{{id}}">Update</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="card mb-4 mt-4 mr-4 ml-4">
    <div class="card-body">
        <h3>Add a new Congress Member:</h3>
        <form id="add_congress_member" action="/congress" method="post">
            <div class="form-group">
                Name: <input type="text" name="name">
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>

<script src="/static/js/congress.js"></script>