<style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 77%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
</style>

<div class="card mb-4 mt-4 mr-4 ml-4">
  <div class="card-body">

      {{!-- <h3>Add a bill to President's desk:</h3>
    <form id="add_bill" action="/president" method="post">
      
      <select  multiple name="bill_to_desk">
        {{#each details}}
        <option value="{{president}}"> {{bill_name}} -- {{bill_desc}}</option>
        {{/each}}
      </select>
      <br>
      <input type="submit" value="Submit">
    </form>
    <br/> --}}

    <table>
      <thead>
        <th>Name</th>
        <th>Bill On Desk</th>
        <th>Bill Name</th>
        <th>Bill Description</th>
        <th>Signed</th>

      </thead>
      <h3>President:</h3>
      <tbody id="president-table">
        {{#each details}}
        <tr id="president-{{id}}">
          <td>{{president}}</td>
          <td>{{bill_on_desk}}</td>
          <td>{{bill_name}}</td>
          <td>{{bill_desc}}</td>
          <td>{{signed}}</td>
          <td>
            <button onclick="deletePresident(this, {{id}})">Delete</button>
          </td>
          <td>
            <a href="/president/{{id}}">Change President's decision</a>
          </td>
        </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>

<div class="card-body">
    <h3>Add a new President:</h3>
    <form id="add_president" action="/president" method="post">
        <div class="form-group">
            Name: <input type="text" name="name">
        </div>
        <div class="form-group">
            Signed: <input type="text" name="signed">
        </div>
        <div class="form-group">
            Bill on Desk: <input type="text" name="bill_on_desk">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>

<script src="/static/js/president.js"></script>